<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/common :: head('게시판')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Custom styles for this template -->
    <link  href="../static/css/style.css" >
    <!-- Bootstrap CSS-->
    <link href ="../static/css/bootstrap.min.css" th:href = "@{css/bootstrap.min.css}" rel = "stylesheet" type ="text/css">
    <link href ="../static/css/starter.css">
    <title>게시판</title>
</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar can be replaced by common.html when rendering thorugh the server by using thymeleaf engine -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace ="../templates/fragments/common :: menu('user')">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:text ="Spring Project">Footer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">바우처 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">고객
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <h2 class="mt-5">바우처 등록</h2>
        <form action="#" th:action="@{/vouchers/register}" th:object="${request}" method="post" >
<!--            <input type="hidden" th:field="*{id}">-->
            <div class="mb-3">
                <label for="voucher-type" class="form-label">타입</label>
                <select class = "form-select" aria-label = "type select" id = "voucher-type" th:field="*{type}">
                    <option selected value = "FIXED">고정가격</option>
                    <option value = "PERCENT">퍼센티지</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="pwd" class="form-label">디스카운트 가격</label>
                <input type="text"  class="form-control"
                       th:classappend="${#fields.hasErrors('discountInfo')} ? 'is-invalid'"
                       id="pwd" th:field="*{discountInfo}"   >
                <div class="invalid-feedback"  th:errors="*{discountInfo}">
                    할인 에러 메시지
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary" >확인</button>
                <a type="button" class="btn btn-primary" th:href ="@{/vouchers}" th:formmethod="get" >취소</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>